{% extends 'myapp/base.html' %}

{% block body_block %}
    <h1>Login</h1>
    <form method="post" action="{% url 'myapp:user_login' %}">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button type="submit">Login</button>
    </form>
{% endblock %}